.App {
  width: 420px;
  background-color: aliceblue;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

h1 {
  background-color: cadetblue;
  text-align: center;
  color: white;
  padding: 5px;
  user-select: none;
}

ul {
  list-style-type: square;
  margin: 20px 0 20px 0;
}

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

input[type=text]:hover, input[type=password]:hover {
  border: 1px solid cadetblue;
  border-radius: 3px;
}

button {
  border: 1px solid #ccc;
  background-color: rgb(127, 209, 212);
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  width: 90px;
}

button:hover {
  border: 1px solid cadetblue;
  background-color: rgb(121, 196, 198);
  border-radius: 3px;
}

.delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.todo-container {
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid cadetblue;
  padding-top: 10px;
}

.link {
  color: blue;
  user-select: none;
}